@charset "utf-8";
body {
	width: 230px;
	height: 316px;
	background: #42608F;
	padding-top: 15px;
}

.container {
	min-width: 230px;
}

#login {
	margin-left: 149px;
}

.modal-dialog {
	width: 215px;
}