html {
  overflow-x: hidden;
}
  
body {
  position: relative;
  width: 230px;
  height: 316px;
  background: #426087;
  left: 0px;
  top: 0px;
}

.container {
	width: 230px;
}

.form-control-sm {
	height: 25px;
}

form label {
	color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 0px;
}

#su-enter {
	margin-left: 150px;
	margin-top: -10px;
}



