html {
  overflow-x: hidden;
}
  
body {
  font-family: 'Roboto', serif;
  position: relative;
  width: 230px;
  height: 316px;
  background: #426087;
  left: 0px;
  top: 0px;
}

.container {
	width: 230px;
}

.btn-toolbar .btn {
	background-color: rgba(255,255,255,0.50);
	height: 45px;
}

.btn-toolbar .btn:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.btn-toolbar .btn:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.special .btn {
	flex: 1;
}

.modal-content {
	border-radius: 10px;
}