html {
  overflow-x: hidden;
}
  
body {
  position: relative;
  width: 214px;
  height: 300px;

  background: #42608F;
  left: 0px;
  top: 0px;
}


.Box1 {
  position: absolute;
  width: 107px;
  height: 28px;

  left: 53px;
  top: 144px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;

  transition: 0.3s;

}



.Box2 {
  position: absolute;
  width: 107px;
  height: 28px;
  left: 53px;
  top: 209px;
  
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
