/* CSS Document */
.tab-content {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(255,255,255,0.50);
}

.nav-link {
	height: 53px;
}

.nav-item .nav-link.active {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgba(255,255,255,0.50);
}

.row {
	margin: auto;
}

.img-fluid {
	margin-top: -10px;	
}

.col-11 {
	margin-top: -20px;
	margin-left: 15px;
}

.bmd-label-static {
	color: rgba(0,0,0,1.00);
	margin-left: 15px;
}

* {
	font-size: small;
}

.form-control {
	height: 25px
}

.more {
	top: -15px;
}

.bmd-form-group.bmd-form-group-sm {
	padding-top: 18px;
}

.row > div:not(:first-child) {
	margin-top: -15px;
}

.form-control[readonly] {
	background-color: rgba(0,0,0,0.00);	
}

.btnicon {
	font-size: small;
	vertical-align: bottom;
}